body {
  text-align: center;
}

#input {
  width: 800px;
  height: 300px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 40px;
}

#keyboard {
  width: 1000px;
  height: 325px;
  margin: 50px auto;
  padding: 10px 20px;
  background-color: #252525;
  border: 5px solid black;
  border-radius: 50px;
}

.row {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  height: 55px;
}

.key {
  min-width: 51px;
  height: 51px;
  font-family: "Open Sans";
  font-size: 20px;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.1s color ease;
  transition: 0.15s transform ease-in-out;
}
.key:hover {
  transform: scale(1.1, 1.1);
}
.key:active {
  transform: scale(0.9, 0.9);
}

.space {
  width: 394px;
}
.space:hover {
  transform: scale(1.025, 1.025);
}
.space:active {
  transform: scale(0.95, 0.95);
}

.tab {
  width: 100px;
}

.capsLock {
  width: 120px;
}

.shift {
  width: 150px;
}

.ctrl {
  width: 100px;
}

.win, .alt {
  width: 70px;
}

.backspace {
  width: 150px;
}

.enter {
  width: 100px;
}

.delete {
  background-color: #f03636;
  width: 100px;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("assets/fonts/opensans/opensans-Light"), url("assets/fonts/opensans/opensanslight.woff2") format("woff2"), url("assets/fonts/opensans/opensanslight.woff") format("woff"), url("assets/fonts/opensans/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light Italic"), local("assets/fonts/opensans/opensansLight-Italic"), url("assets/fonts/opensans/opensanslightitalic.woff2") format("woff2"), url("assets/fonts/opensans/opensanslightitalic.woff") format("woff"), url("assets/fonts/opensans/opensanslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("assets/fonts/opensans/opensans"), url("assets/fonts/opensans/opensans.woff2") format("woff2"), url("assets/fonts/opensans/opensans.woff") format("woff"), url("assets/fonts/opensans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("assets/fonts/opensans/opensans-Italic"), url("assets/fonts/opensans/opensansitalic.woff2") format("woff2"), url("assets/fonts/opensans/opensansitalic.woff") format("woff"), url("assets/fonts/opensans/opensansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("assets/fonts/opensans/opensans-Semibold"), url("assets/fonts/opensans/opensanssemibold.woff2") format("woff2"), url("assets/fonts/opensans/opensanssemibold.woff") format("woff"), url("assets/fonts/opensans/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold Italic"), local("assets/fonts/opensans/opensans-SemiboldItalic"), url("assets/fonts/opensans/opensanssemibolditalic.woff2") format("woff2"), url("assets/fonts/opensans/opensanssemibolditalic.woff") format("woff"), url("assets/fonts/opensans/opensanssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("assets/fonts/opensans/opensans-Bold"), url("assets/fonts/opensans/opensansbold.woff2") format("woff2"), url("assets/fonts/opensans/opensansbold.woff") format("woff"), url("assets/fonts/opensans/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), local("assets/fonts/opensa../assets/fonts/opensans/opensans-BoldItalic"), url("assets/fonts/opensans/opensansbolditalic.woff2") format("woff2"), url("assets/fonts/opensans/opensansbolditalic.woff") format("woff"), url("assets/fonts/opensans/opensansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold"), local("assets/fonts/opensans/opensans-Extrabold"), url("assets/fonts/opensans/opensansextrabold.woff2") format("woff2"), url("assets/fonts/opensans/opensansextrabold.woff") format("woff"), url("assets/fonts/opensans/opensansextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold Italic"), local("assets/fonts/opensans/opensans-ExtraboldItalic"), url("assets/fonts/opensans/opensansextrabolditalic.woff2") format("woff2"), url("assets/fonts/opensans/opensansextrabolditalic.woff") format("woff"), url("assets/fonts/opensans/opensansextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
h1 {
  margin: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 3.5em;
  color: black;
}

h2 {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  color: black;
  vertical-align: center;
}

.education-btn h2 {
  transition: color 0.1s ease;
}
.education-btn h2:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #013950;
  transition: width 0.1s ease;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.personal_info a {
  font-family: "Poppins";
  color: black;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}
.personal_info a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #013950;
  transition: width 0.1s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
